* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
 nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
 nav ul {
    list-style-type: none;
}
 nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*the benefits tag holds the formating for the main body writing */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* the benefit1 tag holds all the photos in the center in place and keeps the sapcing for the photos on the side bar*/
.benefit1 {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit1 h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*the optimization tag holds the formating for the photos in the center and helps aline the text */
.optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.optimization img {
    max-height: 200px;
}
.optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}